header {
  width: 100%;
  height: 70px;
  background: #ddd9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo a {
  font-size: 22px;
  color: #333e33;
  font-weight: 900;
}

.header_links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_links a {
  color: #000d;
  font-size: 16px;
}

.header_register {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_register a {
  font-size: 16px;
  color: #000d;
}
